$background-gray: #2e2e2e;

//Element colors
$element-orange: #ffb347;
$element-yellow: #edef85;
$element-red: #ff4848;
$element-pink: #ff9797;
$element-salmon: #ff7575;
$element-blue: #57bcd9;
$element-green: #77dd77;
$element-purple: #8781bd;
